.logo,
.pageTitle {
  text-align: center;
}

.logo {
  font-size: xx-large;
  font-family: "cloud sans";
}

.pageTitle {
  font-size: larger;
}

.arrowBack {
  position: fixed;
  left: 20%;
  padding-right: 15%;
  padding-left: 10%;
  cursor: pointer;
}
