<div class="dialog app-training__dialog">
  <h3 class="question">Вы знаете это слово?</h3>
  <div class="word">слово</div>
  <div class="options dialog__option">
    <div class="options__button">
      Да
      
    </div>
    <div class="options__button">
      Нет
      
    </div>
  </div>
</div>
<div class="addWordForm">
  <h3 class="question">Добавте новые слова в очередь, чтобы позже их поворить посредством опроса выше</h3>
  <form action="" class="form__addWordForm">
    <input type="text" class="input el__addWordForm">
    <button type="submit" class="button el__addWordForm">Добавить</button>
  </form>
</div>

