<div class="dialog app-training__dialog">
  <h3 class="question">Вы знаете это слово?</h3>
  <div class="word">{{word}}</div>
  <div class="options dialog__options">
    <div class="options__button">Да </div>
    <div class="options__button">Нет </div>
  </div>
</div>

<div class="addWordForm">
  <h3 class="question">Добавте новые слова в очередь, чтобы позже их поворить посредством опроса выше</h3>
  <div class="form__addWordForm">
    <input type="text" class="input el__addWordForm" [formControl]="wordFormControl">
    <button class="button el__addWordForm" >Добавить</button>
  </div>
</div>

<div *ngIf="message" class="alertMessage">{{message}}</div>
