<div class="dialog app-training__dialog">
  <h3 class="question">Вы знаете это слово?</h3>
  <div class="word">{{wordName}}</div>
  <div class="options dialog__options">
    <div class="yes options__button" (click) ="onSayYes()">Да </div>
    <div class="no options__button" (click) ="onSayNo()">Нет </div>
  </div>
</div>

<div class="addWordForm">
  <h3 class="question">Добавте новые слова в очередь, чтобы позже их поворить посредством опроса выше</h3>
  <div class="form__addWordForm">
    <input type="text" class="input el__addWordForm" [formControl]="wordFormControl">
    <button class="addWordButton el__addWordForm" (click)="onAddWordButtonClick()">Добавить</button>
  </div>
</div>

<div *ngIf="alertMessage" class="alertMessage">{{alertMessage}}</div>
